
<!DOCTYPE html>
{% load static %}
<html>
 
<head>
    
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link rel="stylesheet" href="{% static 'users/css/contact.css' %}">
    <script type="text/javascript" src="{% static 'users/contact.js' %}"></script>

    <title>
        YOGA TRAINING CENTRE
    </title>
</head>
 
<body>
    <div class="banner">
        <div class="navbar">
            <p class="logo">YOGA </p>
            <div class="container">
            <ul >
                <li>
                    <a href="http://127.0.0.1:8000/">HOME</a>
                </li>
                <li>
                    <a href="http://127.0.0.1:8000/about/">ABOUT</a>
                </li>
                <li>
                    <a href="http://127.0.0.1:8000/classes/">CLASSES</a>
                </li>
                <li>
                    <a href="#">CONTACT</a>
                </li>
            </ul>
            </div>
            <a href="http://127.0.0.1:8000/login/" class="form-control">LOGIN/SIGNUP</a>
        </div>
        <div class="content">
            <h5>CONTACT US </h5><br>
        </div>
    </div>

<form action="#" method="post">
    {% csrf_token %}
    <div class="form-content">
      <div class="login">
        <label for="name">Name</label><br>
        <input type="text" placeholder="Your Name" class="input" name="name">
      </div>

      <div class="kevin">
        <label for="phone">PHONE NUMBER</label><br>
        <input type="tel" placeholder="Your phone number" id="tell" class="input" name="phone">
      </div>
      
      <div class="subject">
        <label for="email">Email</label><br>
        <input type="email" placeholder="Your mail id" class="input" name="emailadd">
      </div>
      
      <div class="msg">
        <label for="message">Write a message</label><br>
        <textarea  class="area" placeholder="Leave a Message" name="msg"></textarea>
      </div>
      <div class="forms">
      <button type="submit">SEND MESSAGE</button>
      </div>
    </div>
</form>


<footer class="footer">
    <div class="containertwo">
        <div class="rowtwo">
<div class="footer-col">
    <h4>ABOUT THE YOGAS</h4>
    <p>Far far away, behind the word mountains, <br>
        far from countries Vokalia and Consonantia, <br>
        there live the blind texts. Separated they.</p>
</div>
<div class="footer-col"> 
    <h4>CONTACT INFO</h4>
    <ul>
        <li>Address:<br>
            34 Street Name, City Name Here, INDIA</li>
        <li> Telephone:<br>
            +91 942 4942 290</li>
        <li> Email:<br>
            info@yourdomain.com</li>
    </ul>
</div>

<div class="footer-col"> 
    <h4>QUICK LINKS</h4>
    <ul>
        <li><a href="http://127.0.0.1:8000/about/">About</a>
            </li>
        <li><a href="#">Terms of use</a>
            </li>
        <li><a href="#">Disclaimer</a>
            </li>
        <li><a href="http://127.0.0.1:8000/contact/">Contact Us</a>
            </li>
        
    </ul>
</div>
<div class="footer-col">
    <h4>follow us</h4>
    <div class="social-links">
        <a href="#"><i class="fab fa-facebook-f"></i></a>
        <a href="#"><i class="fab fa-twitter"></i></a>
        <a href="#"><i class="fab fa-instagram"></i></a>
        <a href="#"><i class="fab fa-linkedin-in"></i></a>
    </div>
</div>
</div>
</div>
<br>

<p class="copy">Copyright © 2022. All Rights Reserved.</p>


</footer>
    
</body>
 
</html>